.main-Container {
    width: 80%;
    margin: 0 auto;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 50px 0px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.02em;
    color: #6F6F6F;
}

.dynamicSectionWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-weight: bold;
    color: black
}

.longLatContainer{
    display: flex;
    width: 100%;
}

.commonInput {
    width: 100%;
    margin: 10px 0px;
    padding-left: 5px;
    height: 35px;
}

.commonSelect {
    width: 108.3%;
}

.commonTextarea {
    height: 100px;
    padding-top: 2px;
}

.Commonlabel {
    text-align: left;
    margin-bottom: 10px;
}
.termsForm {
    max-height: 50vh;
    overflow-y: scroll;
    box-shadow: 1px 1px 10px 2px #1976d254;
    border-radius: 4px;
    padding: 20px 10px;
}

.termsForm::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

.termsForm::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

.termsForm::-webkit-scrollbar-thumb
{
	background-color: #1976d2;
}

@media(max-width:900px) {
    .css-1cyom22 {
        width: 90% !important;
        margin: 50 auto !important;
        display: block;
        max-width: 90%;
    }

    .main-Container {
        width: 90%;
        margin: 0;
        display: block;
        max-width: 90%;
    }

    .commonSelect {
        width: 113.3%;
    }

    .css-m5vj9m-MuiStepper-root {
        display: flex;
        max-width: 100%;
        flex-wrap: wrap;
    }

    .css-1bw0nnu-MuiStep-root {
        padding-left: 8px;
        padding-right: 8px;
        margin-top: 15px;
        margin: -top;
    }

    .css-j5w0w9-MuiStepConnector-root {
        -webkit-flex: 1 1 auto;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        margin-top: 15px;
    }
    
}